*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #EAF2E3;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-align-items: center;
  -webkit-flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -webkit-justify-content: center;
  overflow-y: hidden;
}

body, input {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

.entry h1:nth-child(1) {
  display: none;

}

.entry h1:nth-child(2) {
  background: #FFF844;
  font-size: 2rem;
  color: #0F0F0F;
  display: inline;
}

.entry h1:nth-child(3) {
  
}

.entry h1 a {

  cursor: pointer;
}


.entry h1:nth-child(4) {
  color: #96988F;
  font-size: 1rem;
}

.clear-quotes {
  color: #96988F;
  cursor: pointer;
  border-radius: 1.5rem;
  border: 1px solid #9ea29b;
  background: transparent;
  font-size: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
  padding: 0.5rem 1.5rem;
  float: right;
}

.navbar {
  background: #EAF2E3;
  position: fixed;
  top: 0;
  left: 0;
  text-align: right;
  width: 100%;
}

.quote-form {
  background: #EAF2E3;
  margin: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.item.text {
  width: 42%;
  float: left;
}

.text {
  margin-right: 1rem;
}

.item.text .field input {
  color: #0F0F0F;
  background: transparent;
  border: 1px solid #9ea29b;
  border-radius: 3px;
  font-size: 1.5rem;
  padding: 0.5rem;
  width: 100%;
}

.save-button {
  background: #05418E;
  cursor: pointer;
  border: none;
  box-shadow: none;
  color: #FFF;
  font-size: 1rem;
  border-radius: 1.5rem;
  padding: 0.8rem 1.8rem;
}

.quotes-table {
  padding: 0 8rem;
}

.navbar p {
  float: left;
  margin-left: 1rem;
  color: #9c9e95;
  margin-top: 1.5rem;
}

.row {
  height: 100vh;
}



@media (max-width: 1009px) {

  body, html {
    height: auto;
  }

  body {
    overflow-y: auto;
  }

  .quote-form {
    padding: 0 1rem;
    margin: 0;
  }

  .item.text {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .save-button {
    margin-bottom: 0.5rem;
    width: 100%;
    text-align: center;
    display: block;
  }

  .quotes-table {
    margin-top: 7rem;
    margin-bottom: 12rem;
  }

  .quotes-table {
    padding: 0 4rem;
  }

  .row {
    height: auto;
  }
}

@media (min-width: 1010px) {
  .quote-form {
    padding: 1rem;
    margin-bottom: 0;
  }

  .quotes-table {
    height: 100vh;
  }

  .entry {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
